* {
  box-sizing: border-box;
  margin: 0;
}
html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  line-height: 1.75;
  text-rendering: optimizeSpeed;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  max-width: 1400px;
  background-color: #B2EBF2;
  margin: 0 auto;
}

p, a, ul {
  font-size: 2rem;
  font-weight: normal;
}
h1 {
  font-size: 3rem;
  font-weight: bold;
}
h2 {
  font-size: 2.75rem;
  font-weight: bold;
}
h3 {
  font-size: 2.5rem;
  font-weight: bold;
}
h4 {
  font-size: 2.25rem;
  font-weight: bold;
}
a {
  color: #0517a6;
  text-decoration: underline;
}

#root {
  padding: 1rem;
}

.project {
    border: .2rem groove rgb(10, 145, 176);
    border-radius: .5rem;
    padding: .5rem;
    margin-bottom: 2rem;
}

.project>summary {
    font-size: 2rem;
    padding: 0 .5rem;
    cursor: pointer;

}

.project[open] summary {
    border-bottom: .2rem dashed rgb(10, 145, 176);
    padding-bottom: 1.5rem;
}

.project div {
  display:flex;
  justify-content: center;
}
.project a {
	padding: .5rem 1rem;
	margin: 0;
	border: 0;
	border-radius: 1rem;
	background-color: #0b7f8b;
	color: white;
  cursor: pointer;
  margin: 1rem 0;
  font-size: 2rem;
  text-decoration: none;
}